{
  "lists": [
    {
      "url": "https://letterboxd.com/ellefnning/list/for-when-you-want-to-feel-something/",
      "name": "for when you want to feel something",
      "id": "list-for-when-you-want-to-feel-something"
    }
  ]
}
